header {
  background-color: black;
  padding: 14px 20px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  z-index: 200;
}

header span {
  color: rgb(199, 199, 199);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

}

header span:hover {
  color: orange;
}